<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>启迪视觉</title>
    <meta name="description" content="启迪视觉" />
    <meta name="keywords" content="启迪视觉" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/list.css" />
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.8.2.min.js"></script>

    <!--图标-->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/font-awesome-ie7.min.css">

    <link rel="shortcut icon" type="image/x-icon" href="__PUBLIC__/Home/images/shijue.ico" media="screen" />
</head>
<body>
<div class="list_head">
    <div class="list_head_sub">
        <table>
            <tr>
                <td rowspan="2">
                    <img src="__PUBLIC__/Home/images/logo1.png" />
                </td>
                <td>
                    <span><a href="{:U('Index/index')}">首 页</a></span>
                    <span><a href="{:U('Index/lists')}">作品展示</a></span>
                    <span><a href="{:U('Index/lists')}">团队介绍</a></span>
                    <span><a href="{:U('Index/lists')}">联系我们</a></span>
                    <span><a href="{:U('Index/news')}">新闻动态</a></span>
                </td>
                <td>
                    <div class="search_botton">
                        <input type="text"  class="search_botton_text"/>
                        <input type="button" value=" " class="search_botton_botton"/>
                    </div>

                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
<div class="list_top"></div>

<div class="list_menu">
    <div class="list_menu_sub">
        <a href="{:U('Index/lists')}">全部</a>
        <a href="{:U('Index/lists',array('list_id'=>1))}">标志设计</a>
        <a href="{:U('Index/lists',array('list_id'=>2))}">VIS设计</a>
        <a href="{:U('Index/lists',array('list_id'=>3))}">GUI设计</a>
        <a href="{:U('Index/lists',array('list_id'=>4))}">网站设计</a>
        <a href="{:U('Index/lists',array('list_id'=>5))}">建筑设计</a>
        <a href="{:U('Index/lists',array('list_id'=>6))}">景观设计</a>
        <a href="{:U('Index/lists',array('list_id'=>7))}">画册设计</a>
        <a href="{:U('Index/lists',array('list_id'=>8))}">视频设计</a>
        <a href="{:U('Index/lists',array('list_id'=>9))}">清华图库</a>
    </div>
</div>