<include file="Public:head" />
		<div class="list_center">
			<div class="datails" >
				<img src="{$solo.url}"  style="height: 450px;"/>
				<div class="datails_div"><span class="datails_name">作品名称：{$solo.name}</span></div>
				<div class="datails_div"><span>作　者：{$solo.author}</span>　｜　<span>浏览量：{$solo.browse}</span>　｜　<span>❤  {$solo.like}</span></div>
				<div class="datails_div"><span>标签内容：</span><volist name="solo['tags']" id="v"><span style="color: #989898;">{$v}，</span></volist></div>
				<div class="datails_div"><span>作品介绍：</span></div>
				<div>
					{$solo.content}
				</div>
			</div>
			<div style="height: 50px;"></div>
		</div>
		
		<div class="list_bottom">
			<div class="list_bottom_sub">
				©2013 Copyright TusHoldings 版权所有-启迪控股股份有限公司——事业部  京ICP备0503286
			</div>
		</div>
	</body>
</html>
