<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{:titles()}</title>
    <meta name="description" content="启迪视觉" />
    <meta name="keywords" content="启迪视觉" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/home.css" />
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.8.2.min.js"></script>
    <!--轮播-->
    <script type="text/javascript" src="__PUBLIC__/Home/js/slider.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/style.css" />

    <link rel="shortcut icon" type="image/x-icon" href="__PUBLIC__/Home/images/shijue.ico" media="screen" />
</head>
<body>
<!--top-->
<div class="sj_home_top">
    <div class="sj_home_top_sub">
        <!--<img src="__PUBLIC__/Home/images/logo1.png" />-->
    </div>
</div>
<!--content-->
<div class="sj_home_content">
    <div class="sj_home_content_right">
        <a href="{:U('Index/lists',array('list_id'=>1))}"><div class="design design_0"></div></a>
        <a href="{:U('Index/lists')}"><div class="design design_1"></div></a>
        <a href="{:U('Index/lists')}"><div class="design design_2"></div></a>
        <a href="{:U('Index/lists')}"><div class="design design_3"></div></a>
        <a href="{:U('Index/lists')}"><div class="design design_4"></div></a>
        <a href="{:U('Index/lists')}"><div class="design design_5"></div></a>
        <a href="{:U('Index/lists')}"><div class="design design_6"></div></a>
    </div>
    <div class="sj_home_content_left">
        <!--轮播-->
        <div id="demo01" class="flexslider">
            <ul class="slides">
                <li>
                    <div class="img">
                        <img src="__PUBLIC__/Home/images/logo.jpg" height="470"  width="1000" alt="" />
                    </div>
                </li>
                <li>
                    <div class="img">
                        <img src="__PUBLIC__/Home/images/logo1.jpg" height="470"  width="1000" alt="" />
                    </div>
                </li>
                <li>
                    <div class="img">
                        <img src="__PUBLIC__/Home/images/logo2.jpg" height="470"  width="1000" alt="" />
                    </div>
                </li>
                <li>
                    <div class="img">
                        <img src="__PUBLIC__/Home/images/logo3.jpg"  height="470" width="1000" alt="" />
                    </div>
                </li>
                <li>
                    <div class="img">
                        <img src="__PUBLIC__/Home/images/logo4.jpg"  height="470" width="1000" alt="" />
                    </div>
                </li>
                <li>
                    <div class="img">
                        <img src="__PUBLIC__/Home/images/logo5.jpg"  height="470" width="1000" alt="" />
                    </div>
                </li>
            </ul>
            <div class="float_div">
                <a href="{:U('Index/lists')}"><img class="float_img" src="__PUBLIC__/Home/images/Logo.png"></a>
                <a href="{:U('Index/lists')}"><img class="float_img" src="__PUBLIC__/Home/images/VIS.png"></a>
                <a href="{:U('Index/lists')}"><img class="float_img" src="__PUBLIC__/Home/images/GUI.png"></a>
                <a href="{:U('Index/lists')}"><img class="float_img" src="__PUBLIC__/Home/images/Web.png"></a>
                <a href="{:U('Index/lists')}"><img class="float_img" src="__PUBLIC__/Home/images/Architec-ture.png"></a>
                <a href="{:U('Index/lists')}"><img class="float_img" src="__PUBLIC__/Home/images/LA.png"></a>
                <a href="{:U('Index/lists')}"><img class="float_img" src="__PUBLIC__/Home/images/TsingImage.png"></a>
            </div>
        </div>
        <!--轮播 end-->
    </div>
</div>




<!--bottom-->
<div class="sj_home_botton">
    <div class="sj_home_botton_sub">
        <span style="border: none;">启迪控股介绍</span>
        <span>&nbsp;紫光股份介绍</span>
        <span>&nbsp;启迪信息介绍</span>
        <span>&nbsp;紫光移信介绍</span>
        <span>&nbsp;团队介绍</span>
        <span>&nbsp;合作伙伴</span>
        <span>&nbsp;联系我们</span>
        <span onclick="window.location.href='{:U('Index/news')}'">&nbsp;新闻动态</span>
    </div>
    <div class="sj_home_botton_sub1">
        ©2013 Copyright TusHoldings 版权所有-启迪控股股份有限公司——事业部  京ICP备0503286
    </div>
</div>
</body>
<style>
    .img{
        text-indent: -9999px;
    }
</style>
<script>
    $(function(){
        $('#demo01').flexslider({
            animation: "slide",
            direction:"horizontal",
            easing:"swing"
        });

        $('#demo02').flexslider({
            animation: "slide",
            direction:"vertical",
            easing:"swing"
        });
        $('.zg_home_botton').click(function(){
            var values=$('.zg_text').val();
            alert(values);
        });

        setInterval(function(){
            var s=$('.flex-active-slide').children().children().attr('src');
            $('body').css("background-image","url("+s+")");

        },500);






    });

</script>
</html>
