<include file="Public:head" />
		<div class="list_center">
			<div class="list_center_sub">
					<volist name="lists" id="vo">
						<div class="list">
							<img src="{$vo.url}" onclick="window.location.href='{:U('Index/datails',array('list_id'=>$vo['id']))}'"/>
							<div class="list_text">
								<div class="list_1">
									<span class="list_span_1" title="{$vo.works_name}">{$vo.name}</span>
									<span class="list_span_2">by</span>
									<span class="list_span_3" title="{$vo.works_author}">{$vo.author}</span>
								</div>
								<div class="list_2">
									<span>{$vo.category}</span>
								</div>
							</div>
							<div class="list_3">
								<div class="thumbs_up">
								<span>
									<img src="__PUBLIC__/Home/images/thumbs_up.png" onclick="thumbs_up_click('{$vo.id}')" style="width: 15px;height: 15px;"/>
									<a id="value_">{$vo.like}</a>
								</span>
								<span>
									<img src="__PUBLIC__/Home/images/see.png" style="display: inline-block;width: 17px;height: 15px;"/>
									{$vo.browse}
								</span>

								</div>
								<div class="rss">
									<img src="__PUBLIC__/Home/images/rss.png" style="width: 15px;height: 15px;" />
								</div>
							</div>
						</div>
					</volist>
				<empty name="lists">
					<span style="margin-left: 45%">暂无作品</span>
				</empty>
				<div style="clear: both;"></div>
			</div>
			
		</div>
		<script>
			function thumbs_up_click(id){
				$.post("{:U('Index/thumbs_up')}", {id:id}, function(data){
					if(data.status){
						var val=parseInt($('#value_').text())+1;
						$('#value_').text(val);
					}else{
						alert('访问服务器出错,请稍后在试!');
					}
				}, "json");
			}
		</script>
		<div class="list_bottom">
			<div class="list_bottom_sub">
				©2013 Copyright TusHoldings 版权所有-启迪控股股份有限公司——事业部  京ICP备0503286
			</div>
		</div>
	</body>
</html>
