<include file="Public:head" />
		<div class="list_center">
			<div class="news_center_release" style="text-align: center;">
				<!--NEWS-->
				<div class="news">
					<div class="news_">新闻动态</div>
				</div>
				<volist name="news" id="vo">
					<!--news 图文-->
					<if condition="$vo['type'] eq 1">
					<div class="news_list">
						<img class="news_img" src="{$vo.url}"/>
						<div class="news_content">{$vo.content}
						</div>
					</div>
					<!--news 文本-->
						<else/>
					<div class="news_list">
						<div class="news_title">{$vo.title}</div>
						<div class="news_text_content">
							{$vo.content}
						</div>
					</div>
					</if>
				</volist>

				<empty name="news">
					暂无新闻
				</empty>
			</div>
		</div>
		
		<div class="list_bottom">
			<div class="list_bottom_sub">
				©2013 Copyright TusHoldings 版权所有-启迪控股股份有限公司——事业部  京ICP备0503286
			</div>
		</div>
	</body>
</html>
