<include file="Public:head" />
<div class="top">
    <if condition="$works['id']">修改<else/>后台</if>管理
</div>
<hr/>
<form id="form_" action="__URL__/home" method="post" enctype="multipart/form-data">
    <input name="id" type="hidden" value="{$works.id}">
    <input name="label" type="hidden" value="{$works.label}" class="label_value">
    <table class="add_table">
        <tr>
            <th style="width: 140px" valign="top"></th>
            <td></td>
        </tr>
        <!--<tr>-->
            <!--<th style="width: 140px" valign="top">作品作者</th>-->
            <!--<td><input type="text" class="px" name="works_author" value="{$works.works_author}"></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<th style=" vertical-align: top;">作品介绍</th>-->
            <!--<td>-->
                <!--<textarea class="px"  id="Hfcontent" maxlength="200" name="explain" style="width: 580px; height: 100px">{$works.explain}</textarea>-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<th>封面图片</th>-->
            <!--<td>-->
                <!--&lt;!&ndash;<td> <input type="text" name="name" id="picurl" value="" class="px" style="width:400px;"/>&ndash;&gt;-->
                <!--<input type="file" name="photo"  class="px"/>-->
                <!--<if condition="$works['works_photot']"><input type="hidden" name="img_url" value="{$works.works_photot}"/><img src="{$works.works_photot}" class="px" style="height: 80px;float: right;"></if>-->
                <!--&lt;!&ndash;<a href="javascript:;" onclic<a href="javascript:;" onclick="viewImg('picurl')">预览</a></td>&ndash;&gt;-->
            <!--</td>-->
        <!--</tr>-->

        <tr>
            <td colspan="2">
                <span style="font-size: 20px">修改管理信息</span>
            </td>
        </tr>
        <tr>
            <th style=" vertical-align: top;" >修改名称</th>
            <td>
                <input type="text" name="name_a" class="px" value="{$name}">
            </td>
        </tr>
        <tr>
            <th style=" vertical-align: top;">修改登录密码</th>
            <td>
                <input type="text" name="password_a" class="px">
            </td>
        </tr>
        <tr>
            <th style=" vertical-align: top;">确认登录密码</th>
            <td>
                <input type="text" name="password_b" class="px">
            </td>
        </tr>
        <tr>
            <th></th>
            <td><input class="btn submit_btn" type="submit" value="确 认"></td>
        </tr>
    </table>

</form>
<style>
    .label_div{
        width: 580px;
        height: 27px;
        border: 1px solid #eeeeee;
        padding: 5px;
        display: inherit;
    }
    .label{
        display: inline-block;
        float: left;
        height: 25px;
        line-height: 25px;
        margin: 5px;
        padding: 2px 3px;
        background: #eeeeee;
        border: 1px solid #eeeeee;
    }
    .label_del{
        cursor:pointer;
    }
</style>
<script>
    $(function(){
        $('#label_btn').click(function(){
            var text_var=$('#label_text').val();
            if(text_var){
                $('.label_div').append('<label class="label">'+text_var+'<span class="label_del" onclick="label_del(this)">×</span></label>');
            }
        });
        $('.label_del').click(function(){
            $(this).parent().remove();
        })
        $('#form_').submit(function(){
            $('.label_value').val($(".label").text());
        })
        $('#sell').val(['{$works["category_id"]|default=0}']);

    });
    function label_del(obj){
        $(obj).parent().remove();

    }
</script>

</body>
</html>