<include file="Public:head" />

   <div class="top">
       新闻列表<a class="btn left_btn" href="{:U('Index/news_add')}">添加</a>
   </div>
 <hr/>
    <div class="data-table">
        <table>
            <thead>
                <tr>
                    <th>标题</th>
                    <th>内容</th>
                    <th>封面</th>
                    <th>是否显示</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            <volist name="news_list" id="vo">
                <tr>
                    <td>{$vo.title}</td>
                    <td><div style="width: 200px;overflow: hidden;height: 30px;line-height: 30px" title="{$vo.content}">{$vo.content}</div></td>
                    <td><img src="{$vo.url}" style="height: 30px" ></td>
                    <td><if condition="$vo['is_show'] eq 1">是<else/>否</if> </td>
                    <td><a href="{:U('Index/news_add',array('id'=>$vo['id']))}">修改</a>　　<a href="{:U('Index/news_del',array('id'=>$vo['id']))}">删除</a></td>
                </tr>
            </volist>
            <empty  name="news_list">
                <tr>
                    <td colspan="5">
                        <div style="width: 100%;text-align: center">暂无新闻</div>
                    </td>
                </tr>
            </empty>
            </tbody>

        </table>
    </div>
</body>

</html>
